.title {
    width: 90%;
    color: #303030;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.box {
    width: 850px;
    height: 250px;
    margin: 250px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.teks {
    width: 600px;
}

.teks p {
    width: 600px;
    margin-left: 50px;
}

.urlink ul li {
    list-style: none;
    font-weight: 600;
    display: inline-block;
    padding: 12px;
    position: relative;
}

.urlink ul li a {
    text-decoration: none;
    color: #5a5a5a;
    text-transform: uppercase;
    position: relative;
}

.urlink ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #303030;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.2s;
}

.urlink ul li:hover::after {
    width: 100%;
}



